.strength{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.strength div{
    width: 30%;
    height: 10px;
    background-color: grey;
    border: 1px solid #ddd;
}

.red {
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.grey {
    background-color: grey;
}

